/* Put your CSS here */
/*html, body {
    margin: 20px;
}*/

@keyframes domChanged { from { background: yellow; } }
@-webkit-keyframes domChanged { from { background: yellow; } }
.ember-view { animation: domChanged 1s; -webkit-animation: domChanged 1s; }


.panel-header-text {
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  /*display: block;*/
  font-family:  BebasNeueRegular, Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: normal;
  height: 20px;
  line-height: 20px;
}

.panel-body-nopad {
  padding: 0;
}

.list-group-item-desc {
  font-size: 12px;
  color: #999;
}

.page-heading-x {
  height: 76px;
  padding: 10px 20px;
  text-shadow: 0 1px 0 rgba(255,255,255,0.6);
}
.page-heading-x .page-title {
  font-size: 25px;
  line-height: 55px;
  margin: 0;
  padding: 0;
  float: left;
}

.input-group {
  width: 100%;
}

.list-group-item .btn-hidden {
  display: none;
}

.list-group-item:hover .btn-hidden {
  display: block;
}
