<!-- top header navbar -->
<nav class="navbar navbar-top-header x-hidden-xs" role="navigation">
  <div class="navbar-header">
    {{#link-to 'index'}}<img class="logo" src="eapp/vendor/kuta-admin/images/logo.png">{{/link-to}}
  </div>
       
  <!-- <ul class="nav navbar-nav navbar-left">
    <li>
      {{!-- {{#link-to 'index' tagName='a'}}
        <i class="icon-home-2"></i>
      {{/link-to}} --}}
    </li>
  </ul> -->
  
  <!-- <form class="navbar-form navbar-left" role="search">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="">
    </div>
    <button type="submit" class="btn btn-no-rc btn-inverse">Search</button>
  </form>
 -->
  <form class="navbar-form navbar-right" role="form">
    {{#if session.isAuthenticated}}
      {{#link-to 'logout' classNames='btn btn-no-rc btn-danger btn-flat'}}
        Logout {{session.username}}
      {{/link-to}}
    {{else}}
      {{#link-to 'login' classNames='btn btn-no-rc btn-success btn-flat'}}
        Login
      {{/link-to}}
    {{/if}}
  </form>
</nav>
<!-- ./ top header navbar -->
<div id="main_wrapper">
    <div id="main_content">
      {{outlet}}
    </div>
    <!-- sidebar -->
    <ul id="sidebar" class="nav nav-pills nav-stacked">
      <li>
        {{#link-to 'projects'}}
          <i class="icon-newspaper-2"></i>
          <span>Projects</span>
        {{/link-to}}
      </li>
      <li>
        {{#link-to 'holidays'}}
          <i class="icon-rocket"></i>
          <span>Holidays</span>
        {{/link-to}}
      </li>
      <li>
        {{#link-to 'profiles'}}
          <i class="icon-user-6"></i>
          <span>Profiles</span>
        {{/link-to}}
      </li>
      <li>
        {{#link-to 'help'}}
          <i class="icon-support"></i>
          <span>Help</span>
        {{/link-to}}
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <i class="icon-params"></i>
          <span>Accounts</span>
        </a>
        <ul class="dropdown-menu">
          <li>
            {{#link-to 'login'}}
              <i class="icon-lock-4"></i>
              <span>Login</span>
            {{/link-to}}
          </li>
          <li>
            {{#link-to 'register'}}
              <i class="icon-shield"></i>
              <span>Register</span>
            {{/link-to}}
          </li>
          <li>
            {{#link-to 'forgot'}}
              <i class="icon-key"></i>
              <span>Forgot</span>
            {{/link-to}}
          </li>
        </ul>
      </li>
    </ul>
    <!-- ./ sidebar -->
</div>

