<div class="row">
  <div class="col-sm-12 col-md-4 col-md-offset-4">
    <div class="panel panel-default">
      <div class="panel-heading"><div class="panel-header-text">Forgot username/password</div></div>
        <div class="panel-body">
          {{#if errorMessage}}
            <div class="alert alert-danger">
              Failed:  {{errorMessage}}
            </div>
          {{/if}}
          <form {{action forgot on='submit'}}>
            {{input-email id='reg-email' placeholder="Enter e-mail" value=email formController=controller required=true autofocus=true customValidator=validateEmail}}
            <div style="text-align:center">
              <code>Already registered? {{#link-to 'login' }}Goto Login{{/link-to}}</code>
              <code>Don&apos;t have a login? {{#link-to 'register' }}Register Now{{/link-to}}</code>
            </div>
        </div><!-- panel-body -->
        <div class="panel-footer" style="text-align:right">
          {{#submit-button formController=controller tag="span"}}Request Details{{/submit-button}}
        </div>
      </form>
    </div><!-- panel -->
  </div><!-- col-xx-nn -->
</div><!-- row -->