<div class="page-heading-x">        
  <h2 class="page-title">
    <i class="icon-home-2"></i> Index
  </h2>
</div>
{{#unless session.isAuthenticated}}
  <div class="alert alert-info">
    You can {{#link-to 'login' classNames='alert-link'}}log in{{/link-to}}
  </div>
{{else}} 
  <div class="alert alert-warning">
    This is Home.
  </div>
{{/unless}}
{{outlet}}