<div class="progress progress-xs password-meter" style="margin-top: -15px;">
  <div {{bind-attr class="progressType"}} role="progressbar"
    {{bind-attr aria-valuenow="score"}} aria-valuemin="0"
    aria-valuemax="100" {{bind-attr style="progressWidth"}}></div>
</div>