<div id="main_wrapper">
  <div id="main_content">
    <div class="row">
      <div class="col-sm-12 col-md-4 col-md-offset-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <span class="panel-header-text"><img class="text-center" src="eapp/vendor/kuta-admin/images/loading.gif"> Loading..</span>
          </div><!-- panel-body -->
        </div><!-- panel -->
      </div><!-- col-xx-nn -->
    </div><!-- row -->
  </div><!-- main_content -->
</div><!-- main_wrapper -->