<div class="container col-offset-3 col-lg-6">
  <form class="form-signin" {{action login on="submit"}}>
    <h2 class="form-signin-heading">Login</h2>
    {{input type="text" placeholder="Login Id" valueBinding="username" autofocus=true}}
    {{input type="password" placeholder="Password" valueBinding="password"}}
    <label class="checkbox">
      <input type="checkbox" value="remember-me"> Remember me
    </label>
    <button class="btn btn-primary btn-block" type="submit">Login</button>
  </form>
</div>