<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="lead">{{username}}</span>
    </div>
  </div><!-- panel -->
  <div class="container">
    {{outlet}}
  </div>
</div><!-- container -->