<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      Settings
    </div><!-- panel-heading -->
    <div class="panel-body">
      <p>Nothing to set here.</p>
    </div><!-- panel-body -->
  </div><!-- panel -->
  <div class="container">
    {{outlet}}
  </div>
</div><!-- container -->